.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-item {
    display: none;
    position: relative;
  }
  
  .carousel-item.active {
    display: block;
  }
  
  .carousel-item img {
    width: 981px;
    aspect-ratio: auto 981 / 558;
    height: 558px;
  }
  
  .carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
  }
  
  .carousel-caption h5 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .carousel-caption p {
    font-size: 18px;
    margin-bottom: 0;
  }
  